
@using ScarlyCharter.Data;
@model IEnumerable<ScarlyCharter.Models.SearchViewModel>
@{
    ViewData["Title"] = "Search";
    var db = new ApplicationDbContext ();

    var regions = db.Regions.ToList ();
    var seasons = db.Seasons.ToList ();
    var fishes = db.Fish.ToList ();
}

<h1>@ViewData["Title"]</h1>
<hr />
@using (Html.BeginForm ("BookTrip", "Home", FormMethod.Get))
{
    <div class="container">
        <div class="row">
            <div class="input-group col-sm">
                <label class="input-group-text" for="region">Region:</label>
                <select class="custom-select" name="region" id="region">
                    <option></option>
                    @foreach (var region in regions)
                    {
                        <option value="@region.RegionName">@region.RegionName</option>
                    }
                </select>
            </div>
            <div class="input-group col-sm">
                <label class="input-group-text" for="season">Season:</label>
                <select class="custom-select" name="season" id="season">
                    <option value="All Seasons">All Seasons</option>
                    @foreach (var season in seasons)
                    {
                        <option value="@season.SeasonName">@season.SeasonName</option>
                    }
                </select>
            </div>
            <div class="input-group col-sm">
                <label class="input-group-text" for="fish">Fish:</label>
                <select class="custom-select" name="fish" id="fish">
                    <option></option>
                    @foreach (var fish in fishes)
                    {
                        <option value="@fish.FishName">@fish.FishName</option>
                    }
                </select>
            </div>
            <div class="input-group col-sm">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<hr />
@using (Html.BeginForm ("Schedule", "Home", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Region</th>
                <th>Season</th>
                <th>Style</th>
                <th>Overnight</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guide in Model)
            {
                <tr>
                    <th>@guide.GuideName</th>
                    <th>@guide.Region</th>
                    <th>@guide.Season</th>
                    <th>@guide.FishingStyle</th>
                    <th>@guide.Overnight</th>
                    <th><input type="submit" value="Schedule" class="btn btn-primary" asp-controller="Home" asp-action="Schedule" asp-route-guide="@guide.GuideName" /></th>
                </tr>
            }
        </tbody>
    </table>
}